

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag line_item.product.image.url, class: "card-img" if line_item.product.image.present? %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= line_item.product.name %></h5>
        <p class="card-text"><%= line_item.product.description %></p>
        <p class="card-text"><small class="text-muted">Quantity: <%= line_item.quantity %></small></p>
        <p class="card-text"><small class="text-muted">Line Total: <%= number_to_currency line_item.total %></small></p>
      </div>
    </div>
  </div>
</div>
